{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Gallery - {{title}}</title>
  {% else %}
    <title> Gallery </title>
  {% endif %}
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/baseimage.css' %}">
    <link rel="stylesheet" href="/main/static/css/base.css">
  {% endblock %}
  <link rel="shortcut icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuQrI87BNqkoP8-_7S5A3qbTUM1WYq8ha23Nm5zDtS-eB51u-d"/>
  
</head>

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} <h1 class='text-center'>MEMORIES NEVER DIE </h1> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>